## Imports and setup

In [2]:
from openai import OpenAI

from tkinter import * 
from tkinter import ttk

import sqlalchemy
import os
from tabulate import tabulate

from dotenv import load_dotenv
import os 

from sqlalchemy import create_engine, text,Column, Integer, String, Float, Date, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

In [3]:

load_dotenv()

oracle_connection_string = os.getenv('ORACLE_CONNECTION_STRING')

if oracle_connection_string:
    try:
        engine = create_engine(oracle_connection_string)
        connection = engine.connect()
        print("Connected to Oracle database successfully!")
        connection.close()
    except Exception as e:
        print("Error:", e)
else:
    print("Error: ORACLE_CONNECTION_STRING environment variable is not set.")
 
engine = create_engine(oracle_connection_string)
connection = engine.connect()

Connected to Oracle database successfully!

## LLM Helper Functions

In [4]:
with open('primer.txt', 'r') as file:
    primer = file.read()


primobj = {'role':'system','content':primer}

In [5]:
client = OpenAI()
def convCompletion(completion):
    return {'role':'assistant','content':completion.choices[0].message.content}
def convQuery(query):
    return {'role': 'user','content':query}

# completion = client.chat.completions.create(
#   model="gpt-3.5-turbo",
#   messages=[
#     primobj,
#     {"role": "user", "content": "Compose a poem that explains the concept of recursion in programming."},
#   ]
# )

def doConv(t=3):
    msgs = [primobj]
    for i in range(t):
        a = input('Enter query')
        query = convQuery(a)
        msgs.append(query) 
        completion = client.chat.completions.create(
          model="gpt-3.5-turbo",
          messages=msgs
        )
        print('user:',a)
        print('bot:',completion.choices[0].message.content)
        msgs.append(convCompletion(completion))


def sendUserQuery(msg):
    query = convQuery(msg)
    msgs = [primobj, query]
    msgs.append(query) 
    completion = client.chat.completions.create(
        model="gpt-3.5-turbo",
        messages=msgs
    )
    return completion.choices[0].message.content
    
def executeQuery(msg):
    print('user:',msg)
    print('bot:',sendUserQuery(msg)) 
# doConv()
        
# executeQuery('find cheapest product at store name honey farms')
# print(completion.choices[0].message.content)

## UI Code

In [6]:
def guiDoQuery(*args):
    res = sendUserQuery(userquery.get())
    print(res)
    botresponse.set(res)

def executeSQL(*args):
    try:
        runquery = connection.execute(text(sql.get()))
        result = runquery.fetchall()
        cols = runquery.keys()
        runquery.close()

        # print(type(cols))
        table = [list(cols)]+result
        temp = tabulate(table,headers='firstrow',tablefmt='fancy_grid')

        sqlresponse.set(temp)
    except Exception as e:
        sqlresponse.set(f'error: {e}')

In [7]:


root = Tk()
root.title("SQL LLM")



mainframe = ttk.Frame(root, padding="3 3 12 12")
mainframe.grid(column=0, row=0, sticky=(N, W, E, S))
root.columnconfigure(0, weight=1)
root.rowconfigure(0, weight=1)

userquery = StringVar()
userquery_entry = ttk.Entry(mainframe, width=10, textvariable=userquery)
ttk.Label(mainframe, text='Enter query:').grid(column=1,row=1,sticky=(W))
userquery_entry.grid(column=2, row=1, sticky=(W, E))
ttk.Button(mainframe, text='Execute Query',command=guiDoQuery).grid(row=1,column=3)

botresponse = StringVar()
botresponse.set('hi')

sql = StringVar() 
sql_entry = ttk.Entry(mainframe,width=20, textvariable=sql).grid(column=1,row=5)



sqlresponse = StringVar()
sqlresponse.set('Sample SqL response')
responselabel = ttk.Label(mainframe,padding=('5 5 5 5'),relief=SOLID,borderwidth=1,textvariable=sqlresponse).grid(column=2,row=5,rowspan=2,columnspan=10,sticky=W)

ttk.Label(mainframe,text='Bot Response').grid(column=10,row=1)
ttk.Label(mainframe, textvariable=botresponse).grid(column=11, row=1, sticky=(W, E))
# ttk.Label(mainframe, textvariable=botresponse).grid(column=3,row=2)
# ttk.Button(mainframe, text="Calculate", command=calculate).grid(column=3, row=3, sticky=W)


ttk.Label(mainframe,text='SQL To Execute:').grid(column=1,row=3,sticky=W)
ttk.Button(mainframe,text='Execute SQL',command=executeSQL).grid(column=2,row=3,sticky=W)
for child in mainframe.winfo_children(): 
    child.grid_configure(padx=5, pady=5)

userquery_entry.focus()



testquery = [ ['name','id','test'],['sdf',3,'ewr'],['sdf',3,'ewr'],['sdf',3,'ewr'],]
sqlresponse.set(tabulate(testquery,headers='firstrow',tablefmt='psql'))
root.mainloop()

SELECT *
FROM Transactions
WHERE mid = 1

## Testing SQL

In [6]:

load_dotenv()

oracle_connection_string = os.getenv('ORACLE_CONNECTION_STRING')

if oracle_connection_string:
    try:
        engine = create_engine(oracle_connection_string)
        connection = engine.connect()
        print("Connected to Oracle database successfully!")
        connection.close()
    except Exception as e:
        print("Error:", e)
else:
    print("Error: ORACLE_CONNECTION_STRING environment variable is not set.")
 
engine = create_engine(oracle_connection_string)
connection = engine.connect()

# statement = text("SELECT * FROM members" )

Connected to Oracle database successfully!

In [28]:
runquery = connection.execute(text('SELECT * FROM MEMBERS'))
result = runquery.fetchall()
cols = runquery.keys()
runquery.close()

# print(type(cols))
table = [list(cols)]+result

print(tabulate(table,headers='firstrow',tablefmt='fancy_grid'))

╒═══════╤════════════╤═════════════════╤═══════════════╕
│   mid │ name       │ address         │   phonenumber │
╞═══════╪════════════╪═════════════════╪═══════════════╡
│     1 │ John Smith │ 123 Main Street │             1 │
├───────┼────────────┼─────────────────┼───────────────┤
│     2 │ Alice Lee  │ 456 Elm Avenue  │             1 │
╘═══════╧════════════╧═════════════════╧═══════════════╛

In [13]:
print(list(cols))

['mid', 'name', 'address', 'phonenumber']

## Testing Suite

In [43]:
def compSQL(predicted,sql2):
    real = connection.execute(text(sql2))
    res2 = real.fetchall()
    cols2 = real.keys()
    real.close()
    

    try:
        predicted = connection.execute(text(predicted))
        res1 = predicted.fetchall()
        cols1 = predicted.keys()
        predicted.close()
    except Exception as e:
        print(e)
        return 'Error'
    
    return cols1 == cols2 and res1 == res2
    


file = open('userqueries.txt','r')
restable=[['User Query','Generated SQL','Is Correct']]
userqueries = [l for l in file]

realqueries = extract_queries_from_file('test_queries.sql')


for i in range(len(userqueries)):
    r = sendUserQuery(userqueries[i])
    r = r.replace(';','')
    r = r.replace('\n',' ')
    restable.append([userqueries[i][:20] +'...' if len(userqueries[i])>20 else '',r,compSQL(r,realqueries[i])])


print(tabulate(restable,headers='firstrow',tablefmt='fancy_grid'))

(cx_Oracle.DatabaseError) ORA-00907: missing right parenthesis
[SQL: SELECT p.name FROM Products p JOIN (SELECT pid 	FROM Discounts 	ORDER BY newPrice / price DESC 	LIMIT 1) d ON p.pid = d.pid JOIN Produces pr ON p.pid = pr.pid JOIN Producers prd ON pr.prID = prd.prID]
(Background on this error at: https://sqlalche.me/e/20/4xp6)
(cx_Oracle.DatabaseError) ORA-00907: missing right parenthesis
[SQL: SELECT AVG(E.salary) FROM Employees E WHERE E.storeID =      (SELECT T1.sid     FROM          (SELECT T.sid, COUNT(T.tid) AS num_transactions         FROM Transactions T         WHERE T.pdate BETWEEN '2024-03-01' AND '2024-03-31'         GROUP BY T.sid         ORDER BY num_transactions DESC         LIMIT 1) AS T1     )]
(Background on this error at: https://sqlalche.me/e/20/4xp6)
(cx_Oracle.DatabaseError) ORA-30089: missing or invalid <datetime field>
[SQL: SELECT Members.phonenumber FROM Members JOIN Transactions ON Members.mid = Transactions.mid WHERE Transactions.pdate < CURRENT_DATE - INTERVAL '3 days']
(Background on this error at: https://sqlalche.me/e/20/4xp6)
(cx_Oracle.DatabaseError) ORA-00907: missing right parenthesis
[SQL: SELECT s.sid, s.name, SUM(p.price * p.quantity) AS total_sales_revenue FROM Stores s JOIN Transactions t ON s.sid = t.sid JOIN Products p ON p.pid = t.pid WHERE t.pdate >= DATE_ADD(LAST_DAY(DATE_SUB(NOW(), INTERVAL 3 MONTH)), INTERVAL 1 DAY) GROUP BY s.sid, s.name]
(Background on this error at: https://sqlalche.me/e/20/4xp6)
╒═════════════════════════╤══════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╤══════════════╕
│ User Query              │ Generated SQL                                                                                                                                                                                                                                                                                                                            │ Is Correct   │
╞═════════════════════════╪══════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╪══════════════╡
│ Give me the addresse... │ SELECT location FROM Stores                                                                                                                                                                                                                                                                                                              │ True         │
├─────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────┤
│ Give me the names al... │ SELECT name, location FROM Producers                                                                                                                                                                                                                                                                                                     │ True         │
├─────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────┤
│ Show the names of pr... │ SELECT pname FROM Products WHERE category = 'groceries'                                                                                                                                                                                                                                                                                  │ False        │
├─────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────┤
│ Show the number of c... │ SELECT COUNT(mid)  FROM Transactions WHERE sid = 1                                                                                                                                                                                                                                                                                       │ False        │
├─────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────┤
│ Show the number of c... │ SELECT COUNT(tid) FROM Transactions                                                                                                                                                                                                                                                                                                      │ False        │
├─────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────┤
│ Display the employee... │ SELECT name  FROM Employees  WHERE salary = (SELECT MAX(salary) FROM Employees)                                                                                                                                                                                                                                                          │ True         │
├─────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────┤
│ Display the ids and ... │ SELECT pid, pname FROM Products WHERE quantity < 50                                                                                                                                                                                                                                                                                      │ True         │
├─────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────┤
│ Display the number o... │ SELECT COUNT(DISTINCT category) FROM Products                                                                                                                                                                                                                                                                                            │ False        │
├─────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────┤
│ Provide the address ... │ SELECT address FROM Members WHERE address LIKE '%Elm%'                                                                                                                                                                                                                                                                                   │ True         │
├─────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────┤
│ Provide the opening ... │ SELECT openTime, closeTime FROM StoreHours WHERE sid = 1                                                                                                                                                                                                                                                                                 │ True         │
├─────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────┤
│ Show the name of the... │ SELECT p.name FROM Products p JOIN (SELECT pid 	FROM Discounts 	ORDER BY newPrice / price DESC 	LIMIT 1) d ON p.pid = d.pid JOIN Produces pr ON p.pid = pr.pid JOIN Producers prd ON pr.prID = prd.prID                                                                                                                                                                                                                                                                                                                                          │ Error        │
├─────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────┤
│ Show the total price... │ SELECT Members.name, SUM(Products.price * Products.quantity) AS total_price FROM Members JOIN Transactions ON Members.mid = Transactions.mid JOIN Products ON Transactions.tid = Products.pid GROUP BY Members.name                                                                                                                      │ False        │
├─────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────┤
│ Show the names of pr... │ SELECT pname FROM Products JOIN Discounts ON Products.pid = Discounts.pid WHERE ((price - newPrice) / price) > 0.10                                                                                                                                                                                                                      │ True         │
├─────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────┤
│ Count the total pric... │ SELECT SUM(p.price * p.quantity)  FROM Products p  JOIN Produces pr ON p.pid = pr.pid  JOIN Producers prd ON pr.prID = prd.prID  WHERE prd.name = 'Farm Fresh'                                                                                                                                                                           │ False        │
├─────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────┤
│ Provide the address ... │ SELECT m.address, e.eid FROM Members m, StoreHours sh, Employees e WHERE sh.sid = e.storeID AND sh.openTime = (SELECT MAX(sh2.openTime) FROM StoreHours sh2 WHERE sh2.day = 1)                                                                                                                                                           │ False        │
├─────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────┤
│ Provide the informat... │ SELECT * FROM Products WHERE pid IN (     SELECT pid     FROM Produces     WHERE prID = (SELECT prID FROM Producers WHERE name = 'Tech Innovate') ) AND price < 600                                                                                                                                                                      │ True         │
├─────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────┤
│ Give me the avg sala... │ SELECT AVG(E.salary) FROM Employees E WHERE E.storeID =      (SELECT T1.sid     FROM          (SELECT T.sid, COUNT(T.tid) AS num_transactions         FROM Transactions T         WHERE T.pdate BETWEEN '2024-03-01' AND '2024-03-31'         GROUP BY T.sid         ORDER BY num_transactions DESC         LIMIT 1) AS T1     )         │ Error        │
├─────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────┤
│ Give me the contacts... │ SELECT Members.phonenumber FROM Members JOIN Transactions ON Members.mid = Transactions.mid WHERE Transactions.pdate < CURRENT_DATE - INTERVAL '3 days'                                                                                                                                                                                  │ Error        │
├─────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────┤
│ Display the total sa... │ SELECT s.sid, s.name, SUM(p.price * p.quantity) AS total_sales_revenue FROM Stores s JOIN Transactions t ON s.sid = t.sid JOIN Products p ON p.pid = t.pid WHERE t.pdate >= DATE_ADD(LAST_DAY(DATE_SUB(NOW(), INTERVAL 3 MONTH)), INTERVAL 1 DAY) GROUP BY s.sid, s.name                                                                 │ Error        │
├─────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────┤
│ Display the names an... │ SELECT m.name, m.address FROM Members m WHERE m.mid IN (     SELECT t.mid     FROM Transactions t     WHERE EXTRACT(MONTH FROM t.pdate) = EXTRACT(MONTH FROM CURRENT_DATE - INTERVAL '1' MONTH) ) AND m.mid NOT IN (     SELECT t.mid     FROM Transactions t     WHERE EXTRACT(MONTH FROM t.pdate) = EXTRACT(MONTH FROM CURRENT_DATE) ) │ False        │
╘═════════════════════════╧══════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╧══════════════╛

In [31]:
import re

queries = ''
def extract_queries_from_file(file_path):
    with open(file_path, 'r') as file:
        sql_content = file.read()

    # Split SQL content into individual queries
    # queries = re.split(r';\s*\n(?![\s\w]*SELECT)', sql_content)
    queries = sql_content.split(';')
    queries = [query.strip() for query in queries if query.strip()]

    # Remove empty or whitespace-only queries
    # queries = [query.strip() for query in queries if query.strip()]

    return queries

queries = extract_queries_from_file('test_queries.sql')

print(queries)
print(len(queries))
print(queries[10])
connection = engine.connect()

for i in range(len(queries)):
    real = connection.execute(text(queries[i]))
    print(i,real.fetchall())
    real.close()

['SELECT location\nFROM stores', 'SELECT name, location\nFROM producers', "SELECT pname\nFROM products\nWHERE category = 'Groceries'", 'SELECT COUNT(DISTINCT mid) AS num_customers\nFROM transactions\nWHERE sid = 1', 'SELECT COUNT(*) AS num_completed\nFROM transactions', 'SELECT name\nFROM employees\nORDER BY salary DESC\nFETCH FIRST 1 ROW ONLY', 'SELECT pid, pname\nFROM products\nWHERE quantity < 50', 'SELECT COUNT(DISTINCT category) AS num_categories\nFROM products', "SELECT address\nFROM members\nWHERE address LIKE '%Elm%'", 'SELECT openTime, closeTime\nFROM storehours\nWHERE sid = 1', 'SELECT pr.name AS manufacturer_name\nFROM producers pr\nJOIN produces p ON pr.prID = p.prID\nJOIN products pro ON pro.pid = p.pid\nJOIN discounts d ON pro.pid = d.pid\nORDER BY d.newprice / pro.price DESC\nFETCH FIRST 1 ROW ONLY', 'SELECT m.name AS customer_name, SUM(p.quantity * pr.price) AS total_price\nFROM members m\nJOIN transactions t ON m.mid = t.mid\nJOIN purchases p ON t.tid = p.tid\nJOIN products pr ON p.pid = pr.pid\nGROUP BY m.name', 'SELECT pname\nFROM products pr\nJOIN discounts d ON pr.pid = d.pid\nWHERE (pr.price - d.newprice) / pr.price > 0.1', "SELECT SUM(p.price * p.quantity) AS total_price\nFROM products p\nJOIN produces pr ON p.pID = pr.pID\nJOIN producers pro ON pr.prID = pro.prID\nWHERE pro.name = 'Farm Fresh'", 'SELECT s.location, e.eid\nFROM storehours sh\nJOIN stores s ON sh.sid = s.sid\nJOIN employees e ON s.sid = e.storeID\nWHERE sh.day = 1\nORDER BY closeTime - openTime DESC\nFETCH FIRST 1 ROW ONLY', "SELECT p.*\nFROM products p\nJOIN produces pr ON pr.pID = p.pID\nJOIN producers pro ON pro.prID = pr.prID\nWHERE pro.name = 'Tech Innovate'\nAND p.price < 600", 'SELECT AVG(e.salary) AS avg_salary\nFROM employees e\nJOIN stores s ON e.storeID = s.sid\nJOIN transactions t ON s.sid = t.sid\nWHERE EXTRACT(MONTH FROM t.pdate) = 3 AND EXTRACT(YEAR FROM t.pdate) = 2024\nGROUP BY e.storeID\nORDER BY COUNT(t.tid) DESC\nFETCH FIRST 1 ROW ONLY', "SELECT m.name, m.phonenumber\nFROM members m\nJOIN transactions t ON m.mid = t.mid\nJOIN purchases p ON t.tid = p.tid\nWHERE p.status = 'pending' AND t.pdate < SYSDATE - INTERVAL '3' DAY", 'SELECT t.sid AS StoreID, s.name AS StoreName, \n       SUM(pr.price * p.quantity) AS TotalRevenue\nFROM transactions t\nJOIN purchases p ON t.tid = p.tid\nJOIN products pr ON p.pid = pr.pid\nJOIN stores s ON t.sid = s.sid\nWHERE EXTRACT(MONTH FROM t.pdate) = 3\nGROUP BY t.sid, s.name', "SELECT DISTINCT(m.name) AS customer_name, m.address\nFROM members m\nJOIN transactions t ON m.mid = t.mid\nWHERE t.pdate >= TRUNC(SYSDATE, 'MM') - INTERVAL '1' MONTH AND t.pdate < TRUNC(SYSDATE, 'MM')\nAND m.mid NOT IN (\n\tSELECT m.mid\n\tFROM members m\n\tJOIN transactions t ON m.mid = t.mid\n\tWHERE t.pdate >= TRUNC(SYSDATE, 'MM')\n)"]
20
SELECT pr.name AS manufacturer_name
FROM producers pr
JOIN produces p ON pr.prID = p.prID
JOIN products pro ON pro.pid = p.pid
JOIN discounts d ON pro.pid = d.pid
ORDER BY d.newprice / pro.price DESC
FETCH FIRST 1 ROW ONLY
0 [('789 Oak Street',), ('321 Pine Road',)]
1 [('Farm Fresh', '123 Farm Rd'), ('Tech Innovate', '456 Tech Blvd')]
2 [('Bread',), ('Milk',)]
3 [(2,)]
4 [(4,)]
5 [('Michael Brown',)]
6 [(5, 'Laptop'), (7, 'Sunglasses'), (8, 'Desk Lamp'), (9, 'Backpack'), (10, 'Running Shoes'), (11, 'Coffee Maker')]
7 [(10,)]
8 [('456 Elm Avenue',)]
9 [(datetime.datetime(2024, 3, 1, 9, 0), datetime.datetime(2024, 3, 1, 18, 0)), (datetime.datetime(2024, 3, 1, 9, 30), datetime.datetime(2024, 3, 1, 17, 30))]
10 [('Tech Innovate',)]
11 [('John Smith', 20), ('Alice Lee', 1500)]
12 [('Bread',)]
13 [(250,)]
14 [('789 Oak Street', 101)]
15 [(2, 'Smartphone', 'Electronics', 500.0, 50)]
16 [(3000,)]
17 [('Alice Lee', '1')]
18 [(1, 'SuperMart', 1000), (2, 'MegaStore', 500)]
19 [('John Smith', '123 Main Street')]